.logout {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  transition: 200ms;
}
.logout:hover {
  transform: scale(.95);
}

.partyHolder {
  display: flex;
  flex-flow: row wrap;
  width: 90vw;
  margin: 10px auto 50px auto;
}

.newPartyContainer {
  margin: 15px;
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(129, 30, 250, .15);
  border: 5px dashed #811efa;
  box-shadow: rgba(0, 0, 0, 0.2) 6px 0px 8px;
  user-select: none;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  transition: 200ms;
}
.newPartyContainer:hover,
.newPartyContainer:focus {
  transform: scale(0.95);
}

.newPartyIcon {
  font-size: 60px;
  background-color: #fff;
  color: #811efa;
  box-shadow: rgba(0, 0, 0, 0.2) 6px 0px 8px;
  border-radius: 50%;
  width: 100px;
  line-height: 100px;
  text-align: center;
}

.newPartyText {
  color: #fff;
  font-size: 28px;
  margin-top: 30px;
  font-weight: bold;
  width: 80%;
  text-align: center;
}

.partyContainer {
  margin: 15px;
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(129, 30, 250, .15);
  border: 5px solid #811efa;
  box-shadow: rgba(0, 0, 0, 0.2) 6px 0px 8px;
  user-select: none;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  transition: 200ms;
}
.partyContainer:hover,
.partyContainer:focus {
  transform: scale(0.95);
}

.partyText {
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  width: 80%;
  text-align: center;
}
