.back {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  transition: 200ms;
}
.back:hover {
  transform: scale(.95);
}

.upperRow {
  display: flex;
  flex-direction: row;
  width: 90vw;
  margin: 10px auto;
}

.noImage {
  height: 250px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(129, 30, 250, .1);
  border: 5px solid #811efa;
  box-shadow: rgba(0, 0, 0, 0.2) 6px 0px 8px;
  user-select: none;
}

.logo {
  height: 130px;
}

.upperColumn {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  flex-grow: 1;
  height: 250px;
}

.desc {
  font-size: 22px;
  flex-grow: 1;
}

.detailRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 3px 0;
}

.detailIcon {
  font-size: 18px;
  width: 25px;
  text-align: center;
}

.detailText {
  font-size: 20px;
  margin-left: 15px;
}

.createButton {
  color: #fff;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(129, 30, 250, .15);
  border: 5px solid #811efa;
  box-shadow: rgba(0, 0, 0, 0.2) 6px 0px 8px;
  user-select: none;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  transition: 200ms;
}
.createButton:hover,
.createButton:focus {
  transform: scale(0.95);
}

.createIcon {
  font-size: 80px;
}

.createText {
  font-size: 28px;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}

.linkRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90vw;
  margin: 40px auto 10px auto;
}

.linkContainer {
  color: #fff;
  height: 80px;
  width: 47.5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgba(129, 30, 250, .15);
  border: 5px dashed #811efa;
  box-shadow: rgba(0, 0, 0, 0.2) 6px 0px 8px;
  user-select: none;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  transition: 200ms;
}
.linkContainer:hover {
  transform: scale(.95);
}

.linkIcon {
  font-size: 40px;
}

.linkText {
  margin-left: 30px;
  font-size: 30px;
  font-weight: bold;
}

.usersHeader {
  color: #fff;
  font-weight: bold;
  font-size: 40px;
  margin: 20px 5vw;
}

.nobodyText {
  color: #fff;
  font-weight: bold;
  font-size: 30px;
  margin: 50px auto;
}

.userContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px 5vw;
  height: 70px;
}

.userLogo {
  height: 60px;
  user-select: none;
}

.userText {
  color: #fff;
  font-weight: bold;
  font-size: 30px;
  margin-left: 40px;
}
